@import url("../../public/fonts/css/clash-display.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ClashDisplay-Bold";
  color: white;
  background: #f9a703;
  background: linear-gradient(270deg, #f9a703, #fbca01);
  
}
