@import url("../../public/fonts/css/clash-display.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ClashDisplay-Bold";
  color: white;
  /* background: #f9a703; */
  /* background: linear-gradient(270deg, #f9a703, #fbca01); */
  background: #000;
}



@media (min-width: 450px) {
  body {
    width: 100%;
  }
}

@media (min-width: 600px) {
  body {
    width: 100%;
  }
}

@media (min-width: 900px) {
  body {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  body {
    width: 100%;
  }
}
