@import url("../../public/fonts/css/clash-display.css");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ClashDisplay-Bold";
  color: black;
  background: "black";
  
}
